@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full
         uppercase text-xs tracking-widest text-gray-500 transition-all
         hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b lg:px-6 lg:py-4 md:px-5 md:py-3 sm:px-4 sm:py-2 border-[#242424]
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
        focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(156 163 175 / 0.2);
  }

  ::-webkit-scrollbar-thumb {
    background: #f7ab0a;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(247 171 10 / 0.4);
  }
}
